@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}
h1 {
  font-size: 35px;
  text-align: center;
}
.showcase{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.character{
  margin: 20px;
  border: 1px solid black;
  padding: 2px;
  text-align: center;
}

.pagination{
  display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 40px;
}
.pagination button {
  margin-left: 20px;
  background-color: lightgrey;
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
}
